/* regole generali di pagina */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* stile navbar */
.blue-bg{
  background-color: #2C3E50;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.start{
  color: #fff;
  text-align: center;
  font-weight: bold;
}


.navlist li{
  display: inline-block;
  padding: 20px 20px;
}

.navlist a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.navlist a:hover{
  color: #1abc9c;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

.dropbtn{
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #1abc9c;
  border-radius: 5px;
  margin-top: 5px;
}

.dropbtn span{
  padding-left: 5px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  color: #fff;
  position: absolute;
  background-color: #1abc9c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  display: block;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
}

.dropdown-content a:hover{
  background-color: #5F5F5F;
}

.dropdown:hover .dropdown-content{
  display: block;
}


/* stile seconda sezione */
.green-bg{
  background-color: #1ABC9C;
  margin-top: 3.5%;
}

.imgstart{
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txtstart{
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}


.who{
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

/* sezione portfolio */
#portfolio h2{
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  font-size: 55px;
}


/* immagini portfolio */
.portimage{
  width: 100%;
  border-radius: 10px;
  margin: 20px auto;
}


.portimage:hover{
  opacity: 0.5;
}
/* stile sezione about */
#about{
  background-color: #1ABC9C;
  color: #fff;
}

#about h2{
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  font-size: 55px;
}

#about p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}
/* stile link */
.button{
  text-align: center;
  margin-bottom: 5%;
}

.dwl{
  padding-right: 10px;
}

.button a{
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.button a:hover{
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

/* sezione contact */
#contact h2{
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  font-size: 55px;
}

/* stile form */


.form input{
  border-bottom: 1px solid #000;
  line-height: 60px;
  width: 100%;
  margin-bottom: 40px;
  font-size: 20px;
}

.form input:focus{
  outline: none;
}

.send{
  margin: 5% 0;
}

.send a{
  font-size: 22px;
  background-color: #1ABC9C;
  color: #fff;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.send a:hover{
  opacity: 0.7;
}

/* clearfix */
.row:after{
  content: "";
  display: table;
  clear: both;
}
