/* regole generali di pagina */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* stile navbar */
.blue-bg{
  background-color: #2C3E50;
}

.start{
  color: #fff;
  text-align: center;
  font-weight: bold;
}


.navlist li{
  display: inline-block;
  padding: 20px 20px;
}

.navlist a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.navlist a:hover{
  color: #1abc9c;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

/* stile seconda sezione */
.green-bg{
  background-color: #1ABC9C;
}

.imgstart{
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.txtstart{
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.imgcontainer{
  border-bottom: 2px solid black;
}

.who{
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

/* sezione portfolio */
#portfolio h2{
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  font-size: 55px;
}

/* immagini portfolio */
.portimage{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin: 20px auto;
}

/* stile sezione about */
#about{
  background-color: #1ABC9C;
  color: #fff;
}

#about h2{
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  font-size: 55px;
}

#about p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 50px;
}
/* stile link */
.button{
  text-align: center;
  margin-bottom: 5%;
}

.dwl{
  padding-right: 10px;
}

.button a{
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

.button a:hover{
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

/* sezione contact */
#contact h2{
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  font-size: 55px;
}

/* stile form */


.form input{
  border-bottom: 1px solid #000;
  line-height: 60px;
  width: 100%;
  margin-bottom: 40px;
  font-size: 20px;
}

.send{
  margin: 5% 0;
}

.send a{
  font-size: 22px;
  background-color: #1ABC9C;
  color: #fff;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.send a:hover{
  opacity: 0.7;
}

/* clearfix */
.row:after{
  content: "";
  display: table;
  clear: both;
}
